@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

:root{
    --turqouise: #25DFE6; 
    --fontturqouise: #00C1C9;  
    --grey: #707070;
    --border-grey: #b8b8b8;
    --lightgrey: #f5f5f5;
    --maxwidth: 1000px;
    --rootsize: 20px;
    --border: 1px solid #b8b8b8;
}


body{

    font-size: var(--rootsize);
    font-family: 'Rubik', sans-serif;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

div.container{  
    max-width: var(--maxwidth);
    height: auto;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}


header{

    padding: 1rem 1.5rem;
    border: var(--border);
    margin: 2rem 1rem;
    max-width: 100%;
}

header a{
    text-decoration: none;
}

header a h1{
    font-size: 1.9rem;
}


#title{
    max-width: 100%;   
    border-bottom: 6px solid var(--turqouise);  
    display: flex;   
    flex-wrap: wrap;
    margin: 0 1rem;

}


#title a{
    font-size: 1.2rem;
    color: var(--grey);
    text-decoration: none;
    text-transform: uppercase; 
    background-color: var(--lightgrey);
    border: var(--border);
    border-bottom: 1px solid var(--lightgrey);
 
    padding: 1rem 1.2rem 0.8rem;

    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
 
}

/*lage til en egen klasse som legges til og fjernes i javascript*/
#title a:target{
    background-color: var(--turqouise);
    color: white;

    border: 2px solid var(--turqouise);
    outline: none;
}


main{

    max-width: 100%;
    border: var(--border);
    border-top: none;
    margin: 0 1rem;

}


.content{
    padding: 1rem 1.5rem;
    max-width: 70%;
    min-height: 200px;
}

main .content h2{
    font-size: 1.5rem;
}

main .content ul{
    padding: 1rem;
}

main .content ul li{
    color: var(--grey);
    padding-top: .4rem;
}

main .content ul li a{
    color: var(--fontturqouise);
}

h1, h2 {
    color: var(--grey);
    font-weight: 600;
    text-transform: uppercase;
}


p{
    font-size: 1rem;
    line-height: 1.6;
    color: var(--grey);
}

@media only screen and (max-width: 895px) {

    #title a{
        border: var(--border);
    }

    #title a:nth-child(5){
        border-bottom: none;
    }

  }

  @media only screen and (max-width: 400px){

    header{
        margin: 1rem;
        padding: 1rem;
        font-size: smaller;
    }
  }