@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

:root{
    /*--turqouise: #25DFE6;*/
    --turqouise: #21c8cf;
    
    --grey: #787276;
    --border-grey: #d3d3d3;
    --lightgrey: #ececec;
    --maxwidth: 1100px;
    --mainwidth: 900px;
    --rootsize: 20px;

}

body{

    font-size: var(--rootsize);
    font-family: 'Rubik', sans-serif;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    box-sizing: border-box;

}

div.container{
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0 auto;
    overflow: hidden;
}



header{
    padding: 1.5rem;
    border: 2px solid var(--border-grey);
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

header h1{
    width: 100%;
    color: var(--grey);

}

nav{
    margin-bottom: 0;
    margin-left: 0;
    padding: 1rem;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
   

}

nav a{

    font-size: 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
    justify-content: space-between;
    margin-right: 1rem;
  
    
    text-transform: uppercase;
    transition: ease-in-out;
    background-color: var(--lightgrey);
    margin-bottom: 0;
    margin-left: 0;
    border: 2px solid var(--border-grey);
    border-bottom: 2px solid var(--turqouise);
    color: var(--grey);
    list-style: none;
    overflow: hidden;
   

}

/*Gjøre responsivt*/

nav a:hover{
    background-color: var(--turqouise);
    color: white;

}

nav a:target{
    background-color: var(--turqouise);
    color: white;
    border: none;
    border-bottom: 4px solid var(--turqouise);

}


main{
    max-width: 100%;
    padding: 0 1rem;
    border: 2px solid var(--border-grey);
    border-top: 6px solid var(--turqouise);
    
    margin: 0;

}

main li{
    color: var(--grey);
}

a{
    color: var(--turqouise);
}

h2, h3, p{
    color: var(--grey);
}
