@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

:root{
    --turqouise: #25DFE6;    
    --fontturqouise: #07ced4;   
    --grey: #676767;
    --border-grey: #d3d3d3;
    --lightgrey: #ececec;
    --maxwidth: 1000px;
    --rootsize: 20px;
}


body{

    font-size: var(--rootsize);
    font-family: 'Rubik', sans-serif;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

div.container{
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0 auto;
    overflow: hidden;    
}


header{
    padding: 1.5rem;
    border: 2px solid var(--border-grey);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

header a{
    text-decoration: none;
}

nav{
    width: 100%;   
    border-bottom: 6px solid var(--turqouise);
    padding: 0;

}


nav a{
    font-size: 1.2rem;
    color: var(--grey);
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: ease-in-out;
    background-color: var(--lightgrey);
    border: 2px solid var(--border-grey);
    border-bottom: 4px solid var(--lightgrey);
    

    padding: 1rem 2rem 0.5rem;
    margin-right: 1rem;
    margin-top: 1rem;

}

nav a:target{
    background-color: var(--turqouise);
    color: white;
    border: none;
    border-bottom: 4px solid var(--turqouise);

}

.hidden{
    visibility: hidden;
    opacity: 0;
}

main{
  
    min-height: 300px;

    border: 2px solid var(--border-grey);
    border-top: none;
    overflow: hidden;
    
    margin: 0;

}

.content{
    padding: 1rem 1.5rem;
    max-width: 70%;
}

main .content ul{
    padding: 1rem;
}

main .content ul li{
    color: var(--grey);
    padding-top: .4rem;
}

main .content ul li a{
    color: var(--fontturqouise);
    font-size: 1.1rem;
}

h1, h2 {
    color: var(--grey);
    font-weight: 600;
    text-transform: uppercase;
}

p{
    font-size: 1rem;
    color: var(--grey);
}
